:root {
	--bpl-dashboard-primary-color: #20a79c;
	--bpl-dashboard-primary-color-rgb: 32, 167, 156;
	--bpl-dashboard-secondary-color: #5899d5;
	--bpl-dashboard-secondary-color-rgb: 88, 153, 213;
	--bpl-dashboard-title-color: #070127;
	--bpl-dashboard-title-color-rgb: 7, 1, 39;
	--bpl-dashboard-content-color: #1b2e4b;
	--bpl-dashboard-content-color-rgb: 27, 46, 75;
}

@import '../../../bpl-tools/Admin/style.scss';