// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Lottie Player
.wp-block-lpb-lottie-player {
	* {
		box-sizing: border-box;
	}

	.lpbLottiePlayer {
		display: flex;
		flex-direction: column;

		dotlottie-player {
			display: inline-flex;
			max-width: 100%;
			height: auto;
		}
	}
}