$primaryColor: #4527a4;

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Lottie Player
.wp-block-lpb-lottie-player {
	* {
		box-sizing: border-box;
	}

	.lpbLottiePlayer {
		lottie-player {
			display: inline-flex;
			max-width: 100%;

			#lottie-controls.toolbar {
				margin: 0;
			}
		}
	}
}